<footer>
        <div class="footer-container">
            <div class="footer-heading"> Paridhaan </div>

            <div class="footer-columns">
                <div class="footer-column">
                    <h3>COMPANY</h3>
                    <ul>
                        <li><a href="/about_us">ABOUT US</a></li>
                        <li><a href="/contact_us">CONTACT US</a></li>
                        <li><a href="/our_stores">OUR STORES</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>SERVICES</h3>
                    <ul>
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="/terms">TERMS & CONDITIONS</a></li>
                        <li><a href="/privacy">PRIVACY POLICY</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>FOLLOW US</h3>
                    <ul>
                        <li><a href="https://www.facebook.com/login">FACEBOOK</a></li>
                        <li><a href="https://www.instagram.com/paridhaan420?igsh=enZ3czZxa3p0Zzly">INSTAGRAM</a></li>
                        <li><a href="https://www.youtube.com/@Paridhaan-stylists">YOUTUBE</a></li>
                        <li><a href="https://in.pinterest.com/ParidhaanStylists/">PINTEREST</a></li>
                        <li><a href="https://x.com/Paridhaan_Style ">TWITTER</a></li>
                        <li><a href="https://www.instagram.com/paridhaan420?igsh=enZ3czZxa3p0Zzly">SNAPCHAT</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-image">
                <img src="image/footer1.jpg" class="image1" alt="img" />
                <img src="image/footer1.jpg" class="image2" alt="img" />
            </div>
            <div class="footer-bottom">
                <p>&copy; 2024 Established, All Rights Reserved</p>
                <p>Your Personalised Fashion Stylist</p>
            </div>
        </div>
    </footer>