<header class="navheader">
    <a href="/home" class="navlogo">
        <img src = "image/logo1.jpg" class= "logo1" alt="logo"/>
        <img src = "image/logo2.jpg" class= "logo2" alt="logo"/>
    </a>
    <nav class="loginnav">
        <a href="/home">Home</a>
        <a href="/about_us">About</a>
        <a href="/game">Game</a>
        <a href="/contact_us">Contact</a>
        <a href="/login">Log In</a>
        form>
    </nav>
</header>


