@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@1,200..800&family=Quicksand:wght@300..700&display=swap');

:root {
    /* --main-color: #5A596B; */
    /* --main-color: rgb(151, 151, 151); */
    --main-color: rgb(161, 143, 143);
    /* --main-color: #D8D2CF; */
    /* --main-color:#FFF1CA; */
    
    /* --main-color: rgb(167, 164, 150); */
    /* --main-color: #; */
    --sub-color: #257180;
    --white: #fff;
    --border: ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}




/*Navbar styling */

.navheader {
    /* background-color: rgb(161, 143, 143); */
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.navheader .navlogo {
    font-size: 1.7em;
    color: #fff;
    text-decoration: none;
}

.navlogo img{
    height: 2.5rem;
    
    width: auto;
}

.navlogo .logo1{
    margin-top: 0rem;
}

.navlogo .logo2{
    margin-top: 0.3rem;
}


.loginnav a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
}

.loginnav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: 0.5s;
}

.loginnav a:hover::after {
    transform: scaleX(1);
}




/* login & signup common region styling*/

.home-login-signup {

    width: 78.95rem;
    height: 35.5rem;
    /* position: relative;
    width: 100%;
    height: 100vh;
    background: url('../image/login-signup-background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px 0; */
}

.home-login-signup .sign{
    position: relative;
    width: 100%;
}
.home-login-signup .sign img{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    filter: brightness(60%);
}

.home-login-signup .content {
    max-width: 500px;
    width: 40%;
    color: #fff;
    position: absolute;
    text-align: left;
    top: 15rem;
    left: 3.5rem;
}

.content h2 {
    font-size: 3em;
    letter-spacing: .03em;
    font-family: "Playfair Display SC", "serif";
}

.content p {
    margin: 10px 0 40px;
}

.content a {
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    font-weight: 500;
    padding: 10px 40px;
    border-radius: 40px;
    transition: .5s;
}

.content a:hover {
    background: black;
}



/*login styling */

.home-login-signup .wrapper-login {
    color: #fff;
    position: absolute;
    text-align: left;
    top: 8rem;
    width: 30%;
    right: 7rem;
}

.wrapper-login h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
    font-family: "Playfair Display SC", "serif";
}


.wrapper-login .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 40px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid #fff;
    outline: none;
    border-radius: 40px;
    padding-left: 3rem;
    font-size: 1em;
    color: #fff;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 45px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    font-size: 0.8em;
    top: -14px;
    left: 17px;
}

.input-box .icon {
    position: absolute;
    top: 14px;
    left: 15px;
    font-size: 1.2em;
    color: #fff;
}

.wrapper-login .remember-forget {
    font-size: .9em;
    color: #fff;
    font-weight: 500;
    margin: -25px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forget label input {
    accent-color: black;
    margin-right: 3px;
}

.remember-forget a {
    text-decoration: none;
    color: #fff;
}

.remember-forget a:hover {
    text-decoration: underline;
}

.wrapper-login .btn {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    background: linear-gradient(90deg, black, brown);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.wrapper-login .register-link {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 30px 0;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}



/*signup styling*/

.home-login-signup .wrapper-signup {
    color: #fff;
    position: absolute;
    text-align: left;
    top: 2rem;
    width: 30%;
    right: 7rem;
}

.wrapper-signup h2 {
    margin-top: 50px;
    font-size: 2em;
    color: #fff;
    text-align: center;
    font-family: "Playfair Display SC", "serif";
}

.wrapper-signup .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.wrapper-signup .remember-forget {
    font-size: .9em;
    color: #fff;
    font-weight: 500;
    margin: -10px 0 15px;
    display: flex;
    justify-content: space-between;
}

.wrapper-signup .btn {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    background: linear-gradient(90deg, black, brown);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.wrapper-signup .register-link {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 20px 0 40px;
}

/*home page top slider styling*/

.home {
    background-color: var(--main-color);
    top: 2.5rem no-repeat;
}

.home .box img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    filter: brightness(80%);
}

.home .box {
    position: relative;
    width: 100%;
}

.container {
    position: absolute;
    top: 280px;
    left: 30px;
    width: 300px;
    height: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  
  .container .take {
    text-decoration: none;
  }

  .container h3 {
    color: var(--white);
    font-family: "Playfair Display SC", "serif";
    font-size: 6rem;
  }


  
  /*Home- simple process region*/
  .back {
    display: flex;
    height: 30rem;
    box-sizing: border-box;
    background-color: #EDE6E2;
  }

  .back .main-cont {
    position: absolute;
    display: flex;
    width: 100%;
    z-index: 1000;
  }

  .back img {
    height: 25rem;
    clip-path: 50%;
    width: 100%;
    opacity: 0.5;
  }

  .main-cont .mid-cont {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .main-cont .home-section2-heading h1{
    font-family: "Playfair Display SC", "serif";
    font-size: 3rem;
  }

  .main-cont .home-section2-heading {
    padding: 3rem 0rem 4rem;
    margin: 0rem 15rem;
    text-align: center;
  }

   

  .back .sub-cont {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    margin-top: -0.5rem;
  }

  .back .sub-cont .card-home {
    height: 15rem;
    width: 23rem;
    display: inline;
    text-align: center;
    border: 1px dashed black;
    border-radius: 5px;
  }

  .back .card-home h3 {
    font-weight: 700;
    font-size: 1.6rem;
    padding: 1rem;
  }

  .back .card-home p {
    padding: 0.4rem 1.7rem;
    font-weight: 700;
    font-size: 1.2rem;
  }

/* review section */
.testimonial-container {
    background-color: #f9f9f6;
    max-width: auto;
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
  }

  .image-container img {
    width: 300px;
    border-radius: 8px;
    object-fit: cover;
    margin: 2rem;
  }

  .text-container {
    flex: 1;
  }

  .text-container h2{
    font-family: "Playfair Display SC", "serif";
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  .text-container p {
    font-size: 16px;
    width: 30rem;
    line-height: 1.6;
    color: #333;
    margin: 0 0 1rem 4rem;
    align-items: center;
  }

  .text-container .author {
    font-size: 14px;
    font-weight: bold;
    color: #666;
  }

  .text-container .style-box {
    font-size: 14px;
    color: #888;
  }


/*Starting of second slider*/

  /* Slider container styling */
  .slider-container1 {
    height: 400px;
    width: 100%;
    max-width: 1500px;
    overflow: hidden;
    margin: 0 auto;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); */
    position: relative;
}

/* Slider styling */
.slider1 {
    display: flex;
    position: relative;
    animation: none; /* Disable CSS animation */
    background-color: #EDE6E2;
    border: none;
    filter: brightness(70%);
}

/* Slide styling */
.slide1 {
    flex-shrink: 0;
    border: none;
}

.slide1 img {
    height: 400px;
    width: auto; /* Maintain aspect ratio */
    background-color: #EDE6E2;
    border: none;
}

.slider-container1 h2{
    font-family: "Playfair Display SC", "serif";
    font-size: 3rem;
    text-align: center;
    z-index: 1000;
}

.brands-container{
    position: relative;
    width: 100%;
}

.brands-container .brands .brand1 img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    filter: brightness(80%);
}

.brandsinfoc{
    position: absolute;
    top: 4rem;
    left: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.brands-container .brands .brand1 p{
    color: var(--white);
    font-family: "Playfair Display SC", "serif";
    font-size: 6rem;
}

/*Home continuous third silder styling*/

/* Container to hold the scrolling text */
.stores .stores-ancor {
    color: inherit;
    text-decoration: none;
}

.slider-container2 {
    height: auto;
    width: 100%;
    max-width: 83.9rem;
    overflow: hidden;
    margin: 0 auto;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); */
    position: relative;
    align-items: center;
    background-color: #EDE6E2;
}

.slider-container2 .our {
    margin: 3rem 0rem 0rem 22rem;
}

.our .our-stores {
    font-family: "Playfair Display SC", "serif";
    font-weight: 500;
}

/* Slider styling to create the continuous effect */
.slider2 {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: scroll 20s linear infinite;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/* Each head slide styling */
.slidehead2 {
    display: inline-flex;
    padding-right: 50px;
    font-size: 6rem;
}

/* Each slide styling */
.slide2 {
    display: inline-flex;
    padding-right: 50px;
    font-size: 3rem;
    font-family: "Playfair Display SC", "serif";
}

/* Keyframes for continuous scrolling */
@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}




/*Miscellaneous all files Styling*/

/*All miscellaneous pages common styling*/
.miscellaneous {
    background-color: black;
    color: var(--main-color);
    font-size: 1rem;
    font-weight: 500;
    padding: 6rem 5rem 4rem;
}

.miscellaneous h1 {
    font-family: "Playfair Display SC", "serif";
    font-size: 3rem;
}

.miscellaneous .parah {
    padding: 1rem 0rem 0rem;
}


/*Map .i.e our stores styling */
.map-box {
    background-color: var(--main-color);
    height: 70rem;
}

.map-cont {
    height: 28rem;
    width: 78.7rem;
    display: flex;
    justify-content: center;
}

#map {
    height: 28rem;
    width: 72rem;

}

.map-head {
    font-family: "Playfair Display SC", "serif";
    font-size: 5rem;
    font-weight: 500;
    padding: 4rem 0rem 1rem;
    text-align: center;
}

.map-box p {
    font-size: 1.3rem;
    padding: 2rem 2rem 0rem 2rem;
}

/*Book appointment button i.e. our stores styling*/

.map-box .book-cont {
    position: absolute;
    top: 60rem;
    left: 22rem;
    width: 35rem;
    height: 8rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

.map-box .book {
    margin: 2rem;
    position: absolute;
    width: 90%; 
    height: 70%; 
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    z-index: 2;
  }

.book button {
    background-color: transparent;
    font-size: 2rem;
    padding: 1rem;
    border: transparent;
    cursor: pointer;
    z-index: 3;
}
  
  .book-cont .book h3 {
    color: var(--white);
    font-family: "Rock Salt", serif;
  }

  .book-cont .book-main {
    position: absolute;
    width: 80%; 
    height: 90%; 
    border: 2px solid black;
    transition: all 0.3s ease;
    z-index: 1;
  }
  
  .book-cont:hover .book {
    width: 80%; 
    height: 90%;
  }
  
  .book-cont:hover .book-main {
    width: 90%; 
    height: 70%;
  }


/*book page styling*/

.book-page {
    width: 78.95rem;
    height: 35.5rem;
}

.book-page .book-container {
    position: relative;
    width: 100%;
}

.book-page .book-container img {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    filter: brightness(60%);
}

.wrapper-book h2 {
    font-size: 4rem;
    position: absolute;
    text-align: center;
    top: 5rem;
    left: 14.5rem;
    color: #fff;
    font-family: "Playfair Display SC", "serif";
}

.wrapper-book select {
    background: transparent;
    border: 1px solid #fff;
    position: absolute;
    top: 11rem;
    left: 31rem;
    border-radius: 40px;
    font-size: 1.5rem;
    color: #fff;
    padding: 0 25px 0 45px;
    margin: 2rem;
}

.wrapper-book option {
    color: black;
}

.wrapper-book input {
    background: transparent;
    border: 1px solid #fff;
    position: absolute;
    top: 17rem;
    left: 31rem;
    border-radius: 40px;
    font-size: 1.5rem;
    color: #fff; 
    padding: 0 15px;
    margin: 2rem;
}

.wrapper-book .btn {
    background: transparent;
    border: 1px solid #fff;
    position: absolute;
    top: 22rem;
    left: 33.8rem;
    border-radius: 40px;
    font-size: 1.5rem;
    color: #fff; 
    padding: 0 15px;
    margin: 2rem;
    transition: .5s;
}

.wrapper-book .btn:hover {
    background: black;
    cursor: pointer;
}

.book-container .input-book::-webkit-calendar-picker-indicator {
    background-color: #fff;
    color: white;
    cursor: pointer;
}




/* footer styling */

footer {
    padding: 40px;
    background-size: cover;
    background-color: #000;
    text-align: center;
    position: relative;
    color: #f2f2f2;
}

.footer-container {
    position: relative;
    max-width: 1200px;
    margin: auto;
}

.footer-heading {
    font-size: 35px;
    font-weight: 400;
    margin: 50px 50px 70px 50px;
    font-family: "Playfair Display SC", "serif";
    
}

.footer-columns {
    display: flex;
    align-items: start;
    margin-bottom: 30px;
}

.footer-column {
    flex: 1;
    max-width: 250px;
    text-align: left;
}

.footer-column h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.footer-column ul {
    list-style: none;
}

.footer-column li {
    margin-bottom: 10px;
}

.footer-column a {
    text-decoration: none;
    color: #f2f2f2;
    font-size: 12px;
    transition: color 0.3s ease;
}

.footer-column a:hover {
    color: #aaa;
}

.footer-bottom {
    margin-top: 60px;
    font-size: 12px;
}

.footer-bottom p {
    margin: 5px 0;
}

.footer-bottom p:last-child {
    color: #aaa;
    font-style: italic;
}

.footer-image {
    position: absolute;
    right: 0;
    top: 100;
    margin: -30px -250px -40px ;
    transform: translate(-50%);
    bottom: 50px;
    align-items: right;
}

.footer-image .image1 {
    height: 450px;
    width: auto;
    
}

.footer-image .image2 {
    height: 450px;
    width: auto;
    transform: scaleX(-1);
}






