<% layout('layouts/boilerplate') %>


<div class="miscellaneous">
    <div class="start">

        <h1>About Us</h1>
        <br/>
        <br/>
        <h3>Your Style. Delivered.</h3>
        <br/>
        <p>
            Paridhaan is the original personal styling service for men and women that evolves with your tastes, needs and 
            lifestyle. We help people discover the styles they will love that fit perfectly so they always look—and 
            feel—their best.
        </p>
        <br/>
        <h3>What We Stand For</h3>
        <br/>
        <p>It’s our mission to change the way people find clothes they love by combining technology with the personal touch 
            of seasoned style experts. The Paridhaan experience is not merely curated—it’s truly personalized to you. We’re 
            here to help you save time, look great and evolve your personal style over time.
        </p>
        <br/>
        <h3>How We Got Here</h3>
        <br/>
        <p>Founder Rishabh created Paridhaan to blend the human element of personal styling with high-quality clothing and 
            proprietary algorithms. He shipped the first Paridhaan order out of her Cambridge apartment in 2011 while 
            attending Harvard, and today the company has brought the exclusive shopping experience to millions of men and 
            women nationwide. In 2016, we launched men’s, and extended our women’s offerings to include plus sizes in 2017.
        </p>
        <br/>
        <h3>Our Stylists</h3>
        <br/>
        <p>We’re proud to work with expert Stylists from all over the U.S. They’re trendsetters and fashion experts who are 
            motivated to learn about your style and evolving needs, in order to find the perfect pieces for you. Your Style 
            Profile answers and continued feedback powers the engine of the Paridhan experience.
        </p>
    </div>
</section>