<% layout('layouts/boilerplate') %>

<style>
    .detail {
        text-align: center;
        height: 100%;
    }
    .detail h2 {
        /* margin: 1rem; */
        padding: 10px 0;
        display: block;
        margin: 1rem;
    }
    .detail  a {
            display: inline-block;
            
            color: #fff;  /* Blue color */
            text-decoration: none;  /* Remove underline */
            font-size: 18px;  /* Set font size */
            font-weight: bold;  /* Bold text */
            padding: 5px;  /* Add padding */
            border-radius: 5px;  /* Rounded corners */
            transition: background-color 0.3s ease, color 0.3s ease;  /* Smooth transition */
        }

        /* Hover effect */
    .detail a:hover {
            background-color: #f1f1f1;  /* Light gray background on hover */
            color: #0056b3;  /* Darker blue color on hover */
        }
        .detail .contact_game {
            margin-top: 8rem;
        }
</style>

<section class="miscellaneous">
    <div class="start detail">
        <h2>Email us at:</h2>
        <a href="mailto:parihaan@gmail.com">parihaan@gmail.com</a>
        <h2>WhatsApp us at:</h2>
        <a href="https://wa.me/9876543211" target="_blank">9876543211</a>
        <h3 class="contact_game">Wanna have some fun time! <a href="/game">Click Here To Play</a></h3>
    </div>
    <!--Make a fun game.-->
</section>
