<% layout('layouts/boilerplate') %>

<style>
    hr {
    height: 0.06px;
    background-color: #fff;
    border: none;
}

</style>

<section class="miscellaneous">
    <div class="start"></div>
    <h1>FAQ</h1>
    <br/>
    <br/>
    <!--1-->
    <h3>Are there actual human Stylists?</h3>
    <br/>
    <p>Yes, they’re real! We’re proud to work with passionate personal Stylists from all over the U.S. They’re 
        fashion experts who are motivated to learn about your style and evolving needs to find the perfect pieces 
        for you.
    </p>
    <br/>
    <hr/>
    <!--2-->
    <br/>
    <h3>Is this a subscription?</h3>
    <br/>
    <p>There is no subscription required. Your Stitch Fix experience is totally up to you.

        You can choose automatic deliveries as an easy way to get fresh style to your door on a regular schedule. Opt in to receive your Fixes at a frequency that’s right for you—every 2-3 weeks, every month, every other month or every three months.
        
        Prefer to get your Fixes on demand? No problem, just order whenever you’re looking for a wardrobe refresh.
    </p>
    <br/>
    <hr/>
    <!--3-->
    <br/>
    <h3>How do you nail my fit?</h3>
    <br/>
    <p>First, your style quiz gives us an understanding of your sizes and how you like your clothes to fit. We 
        carry tons of brands in a wide range of sizes so our fashion Stylists can send you the best-fitting pieces. 
        With each Fix, we’re able to further perfect your fit, knowing the items that have (and haven’t) worked for 
        you. The more Fixes you get, the more precisely “you” they become. We always factor in the notes you send to 
        your Stylist, too.
    </p>
    <br/>
    <hr/>
    <!--4-->
    <br/>
    <h3>How does my Stylist know what to send me?</h3>
    <br/>
    <p>Your online Stylist is your partner in style. They’re here to listen and help you achieve your best personal 
        style. The more you share with us, the more your online Stylist will know what you love. Your style quiz 
        answers help us get an idea of pieces you’ll like and match you with a Stylist. With each order, they get
        to know your style even better via the items that have (and haven’t) worked for you.
    </p>
    <br/>
    <hr/>
    <!--5-->
    <br/>
    <h3>How do I communicate with my Stylist?</h3>
    <br/>
    <p>You can leave a note for your online personal Stylist whenever you schedule your next Fix—you can edit this 
        note as much as you want up to the time your Stylist gets started. View, edit or add to your note directly 
        on your Fixes page or in the Stitch Fix app after scheduling.
    </p>
    <br/>
    <hr/>
    <!--6-->
    <br/>
    <h3>What range of sizes do you carry?</h3>
    <br/>
    <p>We carry a wide range of sizes for women, men and kids:

        Women: XS-3X (including petite, plus + maternity)
        Men: XS-3XL (including big + tall)
    </p>
    <br/>
    <hr/>
    <!--7-->
    <br/>
    <h3>Do you have kids' clothing?</h3>
    <br/>
    <p>N0, We don't have a stylist for your kids. But we have a fun game for your loving children. 
        Please <a href="/game">Click Here</a> 
    </p>
    <br/>
    <hr/>
    <!--8-->
    <br/>
    <h3>Do you offer petites and plus sizes?</h3>
    <br/>
    <p>Yes. We carry petite clothes styles designed with narrower shoulders, shorter sleeves and just-right 
        hemlines in sizes from XS and 0, as well as petite plus sizes.
    </p>
    <br/>
    <hr/>
    <!--9-->
    <br/>
    <h3>What brands do you carry?</h3>
    <br/>
    <p>We carry 1,000+ brands and styles for women, men and kids. You’ll find familiar faves like Madewell, 
        The North Face, Free People, Adidas, Beyond Yoga and many more in addition to a variety of Stitch Fix 
        exclusive brands. For a full list, <a>click here</a>.
    </p>
    <br/>
</section>