<% layout("layouts/boilerplate") %>


<section class="miscellaneous">
    <div class="start"></div>
    <h1>Privacy Policy</h1>
    <br/>
    <br/>
    <p>This Privacy Policy ("Policy") describes how Paridhaan ("we," "us," or "our") collects, uses, and discloses your personal 
        information when you use our website, mobile application, or other online services (collectively, the "Services"). It also 
        describes the choices you have about your information and how to contact us.</p>
    <h3>Information We Collect</h3>
    <p>Personal Information: This is information that can be used to identify you as an individual, such as your name, email address, 
        phone number, mailing address, username, password, and demographic information (e.g., age, gender).</p>
    <p>Non-Personal Information: This is information that does not identify you as an individual, such as your IP address, browser type, 
        operating system, referring URL, browsing activity on our Services, and device information. We may also collect information about 
        your interactions with the Services, such as the pages you visit, the features you use, and the content you view.</p>
    <p>This Policy applies to individuals who access or use the Services or otherwise avail the Professional Services. For the avoidance of 
        doubt, references to “you” across this Policy are to an end user that uses the Platform. By using the Platform, you consent to the 
        collection, storage, usage, and disclosure of your personal data, as described in and collected by us in accordance with this 
        Policy.</p>
    <p>We regularly review and update our Privacy Policy, and we request you to regularly review this Policy. It is important that the 
        personal data we hold about you is accurate and current. Please let us know if your personal data changes during your relationship 
        with us.</p>
    <h3>How We Collect Information</h3>
    <p>We collect information about you through a variety of ways, including:<br>
        (a) When you create an account or register for the Services: We collect personal information such as your name, email address, 
            and password.<br>
        (b)When you use the Services: We collect information about your activity on the Services, such as the pages you visit, the 
            features you use, and the content you view. We may also collect information about your device, such as your IP address 
            and browser type.<br>
        (c)From cookies and other tracking technologies: We use cookies and other tracking technologies to collect information about 
            your activity on the Services. Cookies are small data files that are stored on your device when you visit a website. 
            They can be used to track your activity on the website and remember certain information about you. You can disable 
            cookies in your browser settings, but some features of the Services may not work properly if you do so.</p>
    <h3>How We Use Your Information</h3>
    <p>We will only use your personal data when the law allows us to. Most commonly, we will use your personal data where we need 
        to provide you with the Services, enable you to use the Professional Services, or where we need to comply with a legal 
        obligation. We use your personal data for the following purposes:<br>
        (i) to verify your identity to register you as a user, and create your user account with us on the Platform;<br>
        (ii) to provide the Services to you;<br>
        (iii) to enable the provision of Professional Services to you;<br>
        (iv) to monitor trends and personalise your experience;<br>
        (v) to improve the functionality of our Services based on the information and feedback we receive from you;<br>
        (vi) to improve customer service to effectively respond to your Service requests and support needs;<br>
        (vii) to track transactions and process payments;<br>
        (viii) to send periodic notifications to manage our relationship with you including to notify you of changes to the Services, 
               send you information and updates pertaining to the Services you have availed, and to receive occasional company news 
               and updates related to us or the Services;<br>
        (ix) to assist with the facilitation of the Professional Services offered to you, including to send you information and 
             updates about the Professional Services you have availed;<br>
        (x) to market and advertise the Services to you;<br>
        (xi) to comply with legal obligations;<br>
        (xii) to administer and protect our business and the Services , including for troubleshooting, data analysis, system testing, 
              and performing internal operations;<br>
        (xiii) to improve our business and delivery models;<br>
        (xiv) to perform our obligations that arise out of the arrangement we are about to enter or have entered with you;<br>
        (xv) to enforce our Terms; and<br>
        (xvi) to respond to court orders, establish or exercise our legal rights, or defend ourselves against legal claims.</p>
    <p>You agree and acknowledge that by using our Services and creating an account with us on the Platform, you authorise us, our 
        service professionals, associate partners, and affiliates to contact you via email, phone, or otherwise. This is to provide 
        the Services to you and ensure that you are aware of all the features of the Services and for related purposes.</p>
    <p>You agree and acknowledge that any and all information pertaining to you, whether or not you directly provide it to us 
        (via the Services or otherwise), including but not limited to personal correspondence such as emails, instructions from 
        you, etc., may be collected, compiled, and shared by us in order to render the Services to you. This may include but not 
        be limited to service professionals who provide or seek to provide you with Professional Services, vendors, social media 
        companies, third-party service providers, storage providers, data analytics providers, consultants, lawyers, and auditors. 
        We may also share this information with other entities in the Paridhaan group in connection with the above-mentioned purposes.</p>
    <p>You agree and acknowledge that we may share data without your consent, when it is required by law or by any court or 
        government agency or authority to disclose such information. Such disclosures are made in good faith and belief that it 
        is reasonably necessary to do so for enforcing this Policy or the Terms, or in order to comply with any applicable 
        laws and regulations.</p>
    <h3>Cookies</h3>
    <p>Cookies are small files that a site or its service provider transfers to your device's hard drive through your web browser 
        (if you permit it to) that enables the sites or service providers' systems to recognise your browser and capture and remember 
        certain information.</p>
    <p>We use cookies to help us distinguish you from other users of the Platform, understand and save your preferences for future visits, 
        keep track of advertisements and compile aggregate data about site traffic and site interaction so that we can offer you a 
        seamless user experience. We may contact third-party service providers to assist us in better understanding our site visitors. 
        These service providers are not permitted to use the information collected on our behalf except to help us conduct and improve 
        our business.</p>
    <p>Additionally, you may encounter cookies or other similar devices on certain pages of the Platform that are placed by third parties. 
        We do not control the use of cookies by third parties. If you send us personal correspondence, such as emails, or if other users 
        or third parties send us correspondence about your activities or postings on the Platform, we may collect such information within 
        a file specific to you.</p>
    <h3>Disclosure Of your Data</h3>
    <p>(a) We may share your personal data with third parties set out below for the purposes set out in Section 4:<br>
        (i) Service professionals to enable them to provide you with Professional Services;<br>
        (ii) Internal third parties, which are other companies within the Urban Company group of companies.<br>
        (iii) External third parties such as:<br>
        ● trusted third parties such as our associate partners, and service providers that provide services for us or on our behalf. 
          This includes hosting and operating our Platform, providing marketing assistance, conducting our business, processing payments 
          and transaction-related processes, transmitting content, and providing our Services to you;<br>
        ● analytic service providers and advertising networks that conduct web analytics for us to help us improve the Platform. These 
          analytics providers may use cookies and other technologies to perform their services;<br>
        ● other registered users on our Platform upon your request or where you explicitly consent to such disclosure; and<br>
        ● regulators and other bodies, as required by law or regulation.</p>
    <p>(b) We require all third parties to respect the security of your personal data and to treat it in accordance with the law. We do 
           not allow our third-party service providers to use your personal data for their own purposes and only permit them to process 
           your personal data for specified purposes and in accordance with our instructions.</p>
    <h3>Your Rights in Relation To Your Data</h3>
    <p>Access and Updating your Personal Data:You hereby warrant that all personal data that you provide us with is accurate, up-to-date, 
       and true. When you use our Services, we make best efforts to provide you with the ability to access and correct inaccurate or 
       deficient data, subject to any legal requirements. </p>
    <p>When we send you marketing and promotional content through email, we make best efforts to provide you with the ability to opt-out 
       of such communications by using the opt-out instructions provided in such emails. You understand and acknowledge that it may take 
       us up to 10 (Ten) business days to give effect to your opt-out request. Please note that we may still send you emails about your 
       user account or any Services you have requested or received from us.</p>
    <h3>Transfers of your Data</h3>
    <p>We comply with applicable laws in respect of storage and transfers of personal data. As a part of your use of the Services, 
        the information and personal data you provide to us may be transferred to and stored in countries other than the country you 
        are based in. This may happen if any of our servers are from time to time located in a country other than the one you are based, 
        or one of our vendors, partners, or service providers is located in a country other than one you are based in.</p>
    <h3>Data Security</h3>
    <p>We implement appropriate security measures and privacy-protective features on our Platform including encryption, password protection, 
        call masking, and physical security measures to protect your personal data from unauthorised access and disclosure, and follow 
        standards prescribed by applicable law.</p>
    <p>Where you have chosen a password that enables you to access certain parts of the Services or Professional Services, you are 
        responsible for keeping this password secret and confidential. We will not be responsible for any unauthorised use of your 
        information, or for any lost, stolen, or compromised passwords, or for any activity on your user account due to such 
        unauthorised disclosure of your password. In the event your password has been compromised in any manner whatsoever, you should 
        promptly notify us to enable us to initiate a change of password.</p>
    <h3>Data Retention</h3>
    <p>You agree and acknowledge that your personal data will continue to be stored and retained by us for as long as necessary to fulfil 
        our stated purpose(s) and for a reasonable period after the termination of your account on the Platform or access to the Services 
        to comply with our legal rights and obligations.</p>
    <p>In some circumstances, we may aggregate your personal data (so that it can no longer be associated with you) for research or 
        statistical purposes, in which case we may use this information indefinitely without further notice to you.</p>
    <h3>User Generated Content</h3>
    <p>We invite you to post content on our Platform, including your comments, feedback, pictures, or any other information that 
        you would like to be made available on our Platform. Please note that such content will be available to all visitors to our 
        Platform and may become public. We cannot prevent such information from being used in a manner that is contrary to this Policy, 
        applicable laws, or your personal privacy, and we disclaim all liability (express or implied) in this regard. Further, you agree 
        to comply with all applicable laws in relation to the content uploaded or otherwise shared by you on our Platform. You understand 
        and acknowledge that you will be solely responsible for any information published by you on our Platform that violates applicable 
        laws.</p>
</section>